body{
    margin:0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(176, 246, 246);
}
.background{
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.pagination{
    background-color: white;
    margin-left: 950px;
    border-width: 5px;
    border-color: black;
    margin-right: 5px;
    display: inline-block;
    
}
.dropdown{
    background-color: blueviolet;
    margin-left: 500px;
    z-index: 5;
}